.SidePanel {
  min-width: 15%;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  justify-content: flex-start;
  border-right: 2px solid #ccc;
}

.Auth {
  display: flex;
}

.notAuth {
  display: none;
}