.TaskPage {
  width: 70%;
}

.TaskPageHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
}

.TaskPageInfo {
  list-style: none;
}

.TaskPageInfoItem {
  padding: 5px;
  max-width: 80%;
  word-wrap: break-word;

  &:not(:first-child) {
    margin-top: 10px;
  }
}