.AdminTaskPage {
  width: 80%;
}

.AdminTaskPageInfo {
  list-style: none;
}

.AdminTaskPageInfoItem {
  padding: 5px;
  max-width: 80%;
  word-wrap: break-word;

  &:not(:first-child) {
    margin-top: 10px;
  }
}