.NewUserModal {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
  padding: 10px 30px 10px 30px;
}

.ModalInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}