.footer {
  margin: 0;
  padding: 0 10px;
  height: 64px;
  width: 100%;
  color: #fff;
  background-color: #242429;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: calc(100vh - 64px);
}