.header,
.footer {
  margin: 0;
  padding: 1rem;
  height: 1.3rem;
  color: #fff;
  background-color: #1d1c1cff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exitButton {
  padding: 0;
  border: 0;
  background: none;
  color: #ccc;
  transition: all .3s;

  &:hover {
    color: #9c1616;
    cursor: pointer;
  }
}

.content {
  display: flex;
}

main {
  flex-grow: 1;
}