.datasetPage {
  width: 70%;
}

.datasetPageInfo {
  list-style: none;
}

.datasetPageInfoItem {
  padding: 5px;
  max-width: 80%;
  word-wrap: break-word;

  &:not(:first-child) {
    margin-top: 10px;
  }
}